@charset "utf-9";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');


html > body {
  font-size: 18px;
  font-family: 'Hanken Grotesk', sans-serif;
}

* {box-sizing: border-box;}

:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --light-lavender-alpha: hsla(241, 100%, 89%, 0.5);
  --dark-grey-blue: hsl(224, 30%, 27%);

  --light-slate: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0.1);
}

.results {
  background: linear-gradient(var(--light-slate), var(--light-royal-blue));
  padding: 1.5em 2.5em 2.5em 2.5em;
  text-align: center;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.results > h1 {
  margin-bottom: 1.5em;
  color: var(--light-lavender);
}

.circle {
  padding: 2em 2.2em 1em 2.2em;
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
  border-radius: 6em;
  width: max-content;
  margin: auto;
}

.circle > p:first-of-type {
  font-size: 3.5rem;
  color: white;
  font-weight: 800;
  margin-bottom: 0.2em;
}

.circle > p:nth-of-type(2) {
  color: var(--light-lavender-alpha);
  font-size: 0.9em;
  font-weight: 700;
}

.results > h2 {
  font-size: 1.5rem;
  color: white;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.results > p {
  color: var(--light-lavender);
  font-size: 0.9em;
  line-height: 1.4em;
}

/* SUMMARY SECTION */
